.home-container{
    .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .product-box{
            flex: 0 0 20%;
            // margin-bottom: 5px;
            margin: 0 -1px -1px 0;
            border: 1px solid #ccc;
            padding: 15px;
            @media screen and (max-width: 800px) {
                flex: 0 0 50%;
            }
            img{
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
            .product-name{
                font-size: 12px;
            }
            .price-tag{
                font-size: 12px;
                display: inline;
                font-weight: bold;
                .discounted{
                    display: inline;
                }
                .actual{
                    color: #868686;
                    text-decoration: line-through;
                    display: inline;
                    margin-left: 5px;
                }
                .discount{
                    color: $highlight-text-color;
                    display: inline;
                    margin-left: 5px;
                }
            }
            .add-cart-button{
                cursor: pointer;
                display: block;
                height: 25px;
                background: $primary-button-color;
                border: none;
                border-radius: 25px;
                padding: 10px 20px;
                line-height: 0px;
                font-weight: bold;
                margin-top: 15px;
                margin-left:auto;
                margin-right:auto;
                &:focus {outline:0;}
            }
        }
    }
}
